/**
 * @file layout.theme.css
 */
.layout-region-demonstration {
  background-image: -webkit-linear-gradient(bottom, rgb(70,70,71) 40%, rgb(91,91,94) 70%, rgb(125,124,125) 88%);
  background-image: linear-gradient(bottom, rgb(70,70,71) 40%, rgb(91,91,94) 70%, rgb(125,124,125) 88%);
  color: white;
  font-size: 0.8em;
  margin: 3px;
  padding: 10px;
  text-transform: uppercase;
}
.layout-app {
  background-color: #ffffff;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
}
.layout-app .layout-display {
  background-color: #e0e0e0;
  border: 1px solid #ddd;
  padding: 2em;
}

/**
 * Regions.
 */
.layout-region > .lining {
  background-color: #ffffff;
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
  padding: 0.75em;
}
.layout-region header {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.layout-region header .label {
  color: #666666;
  font-size: x-small;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/**
 * Blocks.
 */
 .layout-app .blocks .block {
  padding: 0.5em;
 }
.layout-app .block > .lining {
  background-image: -webkit-linear-gradient(rgb(102,149,168) 0%,rgb(92,133,150) 99%,rgb(92,133,150) 100%);
  background-image: linear-gradient(rgb(102,149,168) 0%,rgb(92,133,150) 99%,rgb(92,133,150) 100%);
  min-height: 4.5em;
}
z.layout-region.layout-block {
  background-image:-webkit-linear-gradient(rgb(123,194,170) 0%,rgb(114,179,156) 99%,rgb(114,179,156) 100%);
  background-image:linear-gradient(rgb(123,194,170) 0%,rgb(114,179,156) 99%,rgb(114,179,156) 100%);
}
z.layout-region .page-block {
  background-image: -webkit-linear-gradient(rgb(137,211,124) 0%,rgb(128,198,117) 99%,rgb(128,198,117) 100%);
  background-image: linear-gradient(rgb(137,211,124) 0%,rgb(128,198,117) 99%,rgb(128,198,117) 100%);
}
.layout-region .operations button {
  background-image: -webkit-linear-gradient(rgb(254,254,254) 0%,rgb(225,225,225) 100%);
  background-image: linear-gradient(rgb(254,254,254) 0%,rgb(225,225,225) 100%);
  border: 1px solid #ddd;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}
.layout-region .operations button:hover {
  border: 1px solid #cccccc;
  box-shadow:0px 0px 1px 1px rgba(0,0,0,0.1);
}
.layout-region .add-block-press {
  background-image: -webkit-linear-gradient(rgb(245,245,245) 0%,rgb(221,221,221) 100%);
  background-image: linear-gradient(rgb(245,245,245) 0%,rgb(221,221,221) 100%);
  border: 1px solid #c5c5c5;
}
/**
 * Block operations.
 */
.layout-region .mb-block-operations,
.layout-region .lb-block-operations,
.layout-region .pb-block-operations {
  background-color: transparent;
  height: 100%;
  left: 0; /* LTR */
  opacity:0;
  position: absolute;
  text-align: center;
  -webkit-transition: all 0.3s;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-delay: initial;
  top: 23px;
  width: 100%;
}
.layout-region .mb-block-operations:hover,
.layout-region .lb-block-operations:hover,
.layout-region .pb-block-operations:hover {
  opacity: 1;
}
.layout-region .drag,
.layout-region .gear {
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 25px;
}
.layout-region .mb-gear {
  background-image:url("../images/gear_fff.png");
}
z.layout-region .mb-drag {
  background-image:url("../images/drag_fff.png");
}
z.layout-region .pb-gear {
  background-image:url("../images/gear_555.png");
}
z.layout-region .pb-drag {
  background-image:url("../images/drag_555.png");
}
z.layout-region .lb-gear {
  background-image:url("../images/gear_555.png");
}
z.layout-region .lb-drag {
  background-image:url("../images/drag_555.png");
}

/**
 * Block information.
 */
.layout-app .block .type-indicator,
.layout-app .block .label {
  color: #ffffff;
  padding-bottom: 0.1667em;
  padding-top: 0.1667em;
}
.layout-app .block .type-indicator {
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff; /* LTR */
  font-weight: bold;
  max-width: 2em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}
.layout-app .block .label {
  font-weight: bold;
}
.layout-app .block .type-indicator + .label {
  margin-left: 2em; /* LTR */
}
