/* ------------------ Reset Styles ------------------ */

th,
td {
  text-align: right;
}
blockquote {
  border-left: none;
  border-right: 4px solid #afafaf;
}
blockquote:before {
  content: "\201D";
}
blockquote:after {
  content: "\201C";
}
tr td,
tr th {
  text-align: right;
}
/* ------------------ List Styles ------------------ */

.region-content ul,
.region-content ol {
  padding: 2.5em 0 0.25em 0;
}
.item-list ul li {
  padding: 0.2em 0 0 0.5em;
}
ul.tips {
  padding: 0 1.25em 0 0;
}
.block ol,
.block ul {
  padding: 0 1em 0.25em 0;
}

/* ------------------ Header ------------------ */

#logo {
  padding: 15px 10px 15px 15px;
}
#logo,
#name-and-slogan,
.region-header .block,
.region-header #block-user-login .form-item,
.region-header #block-user-login .item-list li {
  float: right;
}
#name-and-slogan {
  margin: 0 15px 30px 0;
}
.region-header .form-text {
  margin-left: 2px;
  margin-right: 0;
}
.region-header #block-user-login .item-list li.last {
  padding-left: 0;
  padding-right: 0.5em;
}
.region-header #block-user-login ul.openid-links li.last {
  padding-right: 0;
}
.region-header #user-login-form li.openid-link a,
.region-header #user-login li.openid-link a {
  background-position: right -3px;
  padding-left: 0;
  padding-right: 20px;
}

/* --------------- Main Menu ------------ */

#main-menu ul.links li,
#main-menu ul.links li a {
  float: right;
}

/* --------------- Secondary Menu ------------ */

#secondary-menu-links {
  float: left;
}

/* ----------------- Content ------------------ */

.submitted .field-name-field-user-picture img {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}
.field-type-taxonomy-term-reference .field-label {
  padding-left: 5px;
  padding-right: 0;
}
.field-type-taxonomy-term-reference ul.links li {
  padding: 0 0 0 1em;
  float: right;
}
.link-wrapper {
  text-align: left;
  margin-right: 236px;
  margin-left: 0;
}

/* ----------------- Comments ----------------- */

.comment .field-name-field-user-picture img {
  margin-right: 0;
}
.comment .attribution {
  float: right;
  padding: 0 0 0 30px;
}
.comment .comment-arrow {
  background-image: url(../images/comment-arrow-rtl.gif);
  margin-left: 0;
  margin-right: -47px;
}
.comment .indented {
  margin-right: 40px;
  margin-left: 0;
}
.comment ul.links li {
  padding: 0 0 0.5em;
}
.comment.unpublished {
  margin-left: 5px;
  margin-right: 0;
  padding: 5px 5px 5px 2px;
}

/* -------------- Password Meter  ------------- */

#password-strength {
  left: auto;
  margin-top: 2em;
  right: 16em;
}
#password-strength-text {
  margin-top: 0;
  float: left;
}
.form-item-pass-pass2 label {
  clear: right;
}

/* --------------- Search Form ---------------- */

#search-form input#edit-keys,
#block-search-form .form-item-search-block-form input {
  float: right;
  margin-left: 5px;
  margin-right: 0;
}

/* ------------------ Footer ------------------ */

#footer-columns ul {
  padding-right: 0;
}
#footer-columns li a {
  padding: 0.8em 20px 0.8em 2px;
}
#footer li a {
  float: right;
  border-left: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
  border-right: none;
}
#footer li.first a {
  padding-right: 0;
  padding-left: 12px;
}
#footer li.last a {
  padding-left: 0;
  padding-right: 12px;
  border-left: none;
}

/* --------------- System Tabs  --------------- */

.tabs ul.primary li {
  margin: 0 0 0 5px;
  float: right;
  zoom: 1;
}
.tabs ul.secondary li {
  border-left: 1px solid #ccc;
  border-right: none;
  float: right;
}
.tabs ul.secondary li:first-child {
  padding-right: 0;
}
.tabs ul.secondary li:last-child {
  border-left: none;
}

/* -------------- Form Elements   ------------- */

#user-profile-form input#edit-submit {
  margin-left: 0;
}
.password-suggestions ul li {
  margin-right: 1.2em;
  margin-left: 0;
}

/* Animated throbber */
.js input.form-autocomplete {
  background-position: 1% 4px;
}
.js input.throbbing {
  background-position: 1% -16px;
}

/* Comment form */
.comment-form label {
  float: right;
}
.comment-form .form-type-checkbox,
.comment-form .form-radios,
.comment-form .form-item .description {
  margin-left: 0;
  margin-right: 120px;
}
#edit-actions input {
  margin-left: 0.6em;
  margin-right: 0;
}

/* -------------- Shortcut Links ------------- */

.shortcut-wrapper h1#page-title {
  float: right;
}

/* ---------- Poll ----------- */

.poll .vote-form {
  text-align: right;
}
.poll .total {
  text-align: left;
}
.poll .choice-title {
  clear: left;
}
.poll .percent {
  float: left;
  text-align: left;
}

/* ---------- Color Form ----------- */

.color-form #palette {
  margin-left: 0;
  margin-right: 20px;
}
.color-form .form-item label {
  float: right;
}
.color-form #palette .lock {
  right: -20px;
  left: 0;
}

/* ---------- Views styling ---------- */

 /* @group Lists */

.views-display-top .secondary .action-list {
  padding-left: inherit;
  padding-right: 0;
}

/* @end */

/* @group Collapsible */

.views-display-columns details summary {
  padding: 0 2px 4px 0;
}

/* @end */
